body {
    background-color: #33CC00;
    background-image: url("fond_vert.png");

}


div.nom {
    text-align: center;
    top: -6em;
    font-weight: bold;
    font-size : 2em;
    font-family: "courier new" , Monospace;
}

div.recette {
    background-image: url("paper.png");
    background-position:center center;
    background-size: 40em auto;
    background-repeat: no-repeat;
    
    position: relative;
    width: 40em;
    height: auto;
    left: -10em;
    margin-bottom: 3em;

    #background-color: #fff;

    font-family: "courier new" , Monospace;

}

div.recette>h2{
    margin-left: 3em;
    #    background-color: #000;
    top: 0.1em;
}


div.nottte {
    position: relative;
    left: 18em;
    box-shadow: 8px 2px 4px #3cf;
    width: 12em;
    #background-color: #fff;
    top: 0em;
}

form.note {
    position: relative;
    left: -15em;
    #  top: 6em;
    box-shadow: 3px 2px 12px #555;
    
    width: 46em;
    
    
    border-width:1px;
    border-style:dotted;
    border-color:black;    
    
    margin-bottom : 5em;
}

form.commentaire {
    position: relative;
    left: -15em;
   # top: 4em;
    
    width: 46em;

    box-shadow: 3px 2px 12px #555;
    
    border-width:1px;
    border-style:dotted;
    border-color:black;    
}


div.comm {
   position: relative;
    left: -15em;
    top: 5em;
    
    width: 46em;

    box-shadow: -3px -2px 12px #333;
    
    border-width:1px;
    border-style:dotted;
    border-color:black;    

    margin-top:2em;
    margin-bottom:2em;

}


h2.recet {
    text-align: left;
    height : auto;
    
}

div.titre {
    position:relative;
    top:-9em;
    left:37em;
    #background-color: #fff;
    height:4em;
    width:15em;

}

img.nom {
    width:16em;
    height:5em;


}

div.menu {
    position:fixed;
    top: 14em;
    left: 2em;
    z-index: 3;
    #background-color: #fff;
    width:16em;
    height:20em;
}


div.pres {
    position:relative;
    top: 6em;
    left: -13em;
    z-index: 1;
    #background-color: #fff;
    width:50em;
    
}


div.logo {
    z-index: 0;
#    background-color: #eff;
    height: 12em;
    width: 16em;
    left: 2em;

}

div.liste {
    position: relative;
    left: 25em;
    background-color: #ccf;
    width : 40em;
    height: 2em;
    display: inline-block;
    margin-top: 1em;

    text-align: center;
    
    border-radius: 0.5em;

    border-width:1px;
    border-style:dotted;
    border-color:black;

    box-shadow: 5px 3px 12px #333;

}

ol {
    position: relative;
    top: -4em;
    list-style-type: none;

    
}

ol>li {
    position: relative;

    left: -35em;
    top: 6em;
    
#    

    width: 6em;
}

a>img {
    height: 1.5em;
    width: 2.5em;
}

h2.couleur {
    position: relative;
    top: 0em;
    left: 0em;

    width: 17em;
}

p.type {
#    position: fixed;
    width: 20em;
    border-width:1px;
    border-style:dotted;
    border-color:black;

    box-shadow: 5px 3px 12px #333;


}
p.couleur {
    position: relative;
    width: 20em;
    height: 5em;
    float: right;
    top: -7.5em;
    right: 3em;

    text-align: center;

    border-width:1px;
    border-style:dotted;
    border-color:black;

    box-shadow: 5px 3px 12px #333;

}

p.auteur {
    position: relative;
    width: 25em;
    height: 1.8em;
    top: 0em;
    left: 14em;

    border-width:1px;
    border-style:dotted;
    border-color:black;

    box-shadow: 5px 3px 12px #333;

    margin-top: 2em;
    margin-bottom: 2em;

    text-align: center;
}

p.biere {

    margin-top: 2em;
    margin-bottom: 2em;
    
    position: relative;
    width: 25em;
    height: 1.8em;
    top: 0em;
    left: 14em;

    border-width:1px;
    border-style:dotted;
    border-color:black;

    box-shadow: 5px 3px 12px #333;
    text-align: center;
    
}
 
p.recette {
   position: relative;
#    background-color: #eff;
    width: 40em;
    height: 25em;
    left: em;
    top: -1em;

    border-width:1px;
    border-style:dotted;
    border-color:black;

    box-shadow: 5px 3px 12px #333;

    text-align: center;
    
}


p.valider {
    position: relative;
 #   background-color: #eff;
    width: 12em;
    height: 1.8em;
    left: 20em;
    top: -1em;
    
}

a {
    font-family: "courier new" , Monospace;
    color: #3c6;
    text-decoration: none;
}

h1 {
#    text-align: center;
    color: #903;
    font-weight: bold;
    font-family: "courier new" , Monospace;
    width: 15em;
    left: -4em;
}

h2 {
    position: relative;
    #    text-align: center;
    color: #006;
    text-decoration: underline;
    font-style: italic;
    font-family: "courier new" , Monospace;
    #top: 7em;
    left: 4em;
}

h3 {
    text-align: center;
    color: #fff;
    font-style: oblique;
    font-family: "courier new" , Monospace;
}

h3>p {
    font-style: oblique;
}


ul>li>ul {
    display: none;
}

ul>li {
   list-style: none;
   text-align: center;
   background-color: #ff3;
   line-height: 200%;
   width: 12em;
   border-radius: 1em;
   border: 1px solid #3f6;
   margin-bottom: 1em;
   box-shadow: 3px 2px 12px #555;
}

ul>li:hover {
   background-color: #F0C;
}

ul>li:hover>ul {
   display : block;
   position: absolute;
   margin-top: -2em;
   margin-left: 9.5em;
   width: 12em;
}

ul>li>ul>li {
    background-color: #dd1;
    line-height: 150%;
    height: 2em;
}

ul>li>a {
   text-decoration: none;
   color: #000;
}
