body {
    background-color: #ffa;
}

div.titre {
    position:fixed;
    top:1em;
    left:37em;
    #background-color: #fff;
    height:4em;
    width:15em;

}


div.menu {
    position:fixed;
    top: 14em;
    left: 2em;
    z-index: 3;
    #background-color: #fff;
    width:16em;
    height:20em;
}


div.pres {
    position:fixed;
    top: 8em;
    left: 19em;
    z-index: 1;
    #background-color: #fff;
    width:50em;
}


div.logo {
    z-index: 0;
    background-color: #eff;
    height: 12em;
    width: 16em;
    left: 2em;

}

p.type {
#    position: fixed;
    width: 20em;
}
p.couleur {
    position: relative;
    width: 20em;
    height: 5em;
    float: right;
    top: -8em;
    right: 3em;
}

p.auteur {
    position: relative;
    width: 30em;
    height: 1.8em;
    top: 0em;
    left: 14em;
}

p.biere {
    position: relative;
    width: 30em;
    height: 1.8em;
    top: 0em;
    left: 14em;
}
  echo masque();
  echo "<div class=pres>";
  echo "<h1>recette soumise</h1>";
  echo "</div></body></html>";

p.recette {
   position: relative;
#    background-color: #eff;
    width: 30em;
    height: 15em;
    left: 12em;
    top: -1em;

}


p.valider {
    position: relative;
 #   background-color: #eff;
    width: 12em;
    height: 1.8em;
    left: 20em;
    top: -1em;
    
}

a {
    font-family: "courier new" , Monospace;
    color: #3c6;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #903;
    font-weight: bold;
    font-family: "courier new" , Monospace;
}

h2 {
    text-align: center;
    color: #006;
    text-decoration: underline;
    font-style: italic;
    font-family: "courier new" , Monospace;
}

h3 {
    text-align: center;
    color: #c9f;
    font-style: oblique;
    font-family: "courier new" , Monospace;
}

h3>p {
    font-style: oblique;
}


ul>li>ul {
    display: none;
}

ul>li {
   list-style: none;
   text-align: center;
   background-color: #ff3;
   line-height: 200%;
   width: 12em;
   border-radius: 1em;
   border: 1px solid #3f6;
}

ul>li:hover {
   background-color: #F0C;
}

ul>li:hover>ul {
   display : block;
   position: absolute;
   margin-top: -2em;
   margin-left: 9.5em;
   width: 12em;
}

ul>li>ul>li {
    background-color: #dd1;
    line-height: 150%;
    height: 2em;
}

ul>li>a {
   text-decoration: none;
   color: #000;
}